
  



<div class="container">
    <%= image_tag "shopLogo.svg" %>
     
<div class="show">
 <input class="showItem" type="checkbox" name=""/>
 <div class="showItem"><%= @shop.item %></div>
<div class="showItem" >$ <%= @shop.cost %> cost</div>
</div>

 <a class="showLinks" href="/shop/edit/<%= @shop.id %>" class="">Edit</a>
 <a class="showLinks" href="/shop/destroy/<%= @shop.id %>" class="">Delete</a>
 <a class="showLinks" href="/" class="">BACK TO LIST</a>


  
</div>

